from tkinter import *

class Level02:
    sliderwords = ''
    count = 0

    def __init__(self):
        self.boom = Tk()
        self.fontlabel = Label(self.boom, text="", font=('arial', 25, 'italic bold'), bg='turquoise3', fg='red3', width=35)
        self.fontlabel.place(x=0, y=10)

        self.boom.geometry('700x600+250+30')
        self.boom.configure(bg='turquoise3')
        self.boom.title("Speed Typing Game <-- Level 02 -->")
        self.boom.iconbitmap('icon2.ico')

        clock = PhotoImage(file='clock.png')
        clocklabel = Label(self.boom, image=clock, bg='turquoise3')
        clocklabel.place(x=220, y=50)

        self.labelSlider()

        self.boom.mainloop()

    def labelSlider(self):
        text = 'Congratulation!, And Welcome To Level_02'

        if Level02.count < len(text):
            Level02.sliderwords += text[Level02.count]
            Level02.count += 1
            self.fontlabel.config(text=Level02.sliderwords)
            self.boom.after(250, self.labelSlider)

if __name__ == "__main__":
    level = Level02()
