import tkinter as Tk
from tkinter import *
import random

class level_02:
    Boom=Tk()
    Boom.title( '  Speed Typing Game <-- Level 02 --> ')
    Boom.iconbitmap('icon2.ico')
    Boom.geometry('900x600+250+50')
    Boom.config(bg='turquoise3')
    Boom.resizable(0,0)
    logoImage=PhotoImage(file='clock.png')
    LogoLabel=Label(Boom, image=logoImage,bg='turquoise3')
    LogoLabel.place(x=325, y=70)
    
    
    
    
    
    
    
    
    Boom.mainloop()
